.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;

    background-color: #FFFFFF;
    /*box-shadow: 3px 3px 3px rgba(4,4,4,.4);*/
}

.nav-tabs {
    margin-bottom: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px rgba(4,4,4,0.4);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	background-color: rgb(250,200,18);
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
} 

.img-custom {
    height: 100%;
    width: 50%;
    background-color: #444444;
    background-image: url(../img/m3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

	position: fixed;
	top: 0px;
	left: 50%;
    
    z-index: -5;
}

.white-gradient {
	height: 100%;
    width: 15%;

	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 4%, rgba(255,255,255,0.69) 33%, rgba(255,255,255,0.47) 54%, rgba(255,255,255,0) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(4%,rgba(255,255,255,1)), color-stop(33%,rgba(255,255,255,0.69)), color-stop(54%,rgba(255,255,255,0.47)), color-stop(99%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 4%,rgba(255,255,255,0.69) 33%,rgba(255,255,255,0.47) 54%,rgba(255,255,255,0) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 4%,rgba(255,255,255,0.69) 33%,rgba(255,255,255,0.47) 54%,rgba(255,255,255,0) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 4%,rgba(255,255,255,0.69) 33%,rgba(255,255,255,0.47) 54%,rgba(255,255,255,0) 99%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 4%,rgba(255,255,255,0.69) 33%,rgba(255,255,255,0.47) 54%,rgba(255,255,255,0) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

	position: fixed;
	top: 0px;
	left: 50%;
    
    z-index: -4;
	
}



.margin-less-text {
	margin: 0px;
}

.vcenter-img, .vcenter-text {
    padding-left: 5px;
    padding-right: 5px;
}

img {
    max-height: 60px;
}


.from-to-sidebar {
    position: fixed;
    width: 42%;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(52,52,52,.95);
    box-shadow: -3px 3px 3px rgba(4,4,4,.4);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.from-to-sidebar > div {
    padding: 0px;
}

.from-to-sidebar > div > .form-group {
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.cab-type-sidebar{
    position: fixed;
    width: 42%;

    border-radius: 10px 0px 0px 10px;
    background-color: rgba(252,252,252,.85);
    box-shadow: -3px 3px 3px rgba(4,4,4,.4);

    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 100px;
}

.margin-less-text-cab {
    margin: 0px;
    font-weight: bold;
    color: rgb(2,160,225);
    font-size: 150%;
}

.car-type-sidebar > div{
    position: relative;
}

.cab-type-img > div {
    padding: 0px;
}

.cab-type-check {
    position: relative;
    top: -10px;
}

#right-sidebar {
    position: fixed;
    top: 90px;
    z-index: -3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#option-tab {
    z-index: 2;

}

#content-tab {
    z-index: 1;
}

#result-parent {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#shadow-content-box {
    box-shadow: 3px 3px 3px rgba(4,4,4,.4);
}

.single-result {
    margin-left:-5px; 
    margin-right:-5px;
}

.single-result:hover {
    background-color: rgb(253,236,179);
}

hr {
    margin: 0px;
}

#trip-info {
    position: fixed;
    height: 85px;
    width: 200px;
    bottom: 20px;
    right: 30px;
    padding-top: 15px;
    padding-left: 0px;

    border-radius: 10px 10px 10px 10px;
    background-color: rgba(52,52,52,.95);
    box-shadow: -3px 3px 3px rgba(4,4,4,.4);
    color: white;

}

.trip-info-img {
    max-width: 30px;
    margin-top: -10px;
    margin-left: -5px;
}

.trip-info-text {
    margin-left: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 600;
}

#container-parent {
    padding-top:90px; 
    padding-bottom:10px;
}